*{
    box-sizing:   border-box;
}

:root{
    --LightBackground:#fff;
}

body{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.quiz-app{
    margin: 20px auto;
    width: 800px;
    background-color: #f8f8f8;
    padding: 15px;
}

.quiz-app .quiz-info{
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 2px;
}
.quiz-app .quiz-info .category{
    flex: 1;
}
.quiz-app .quiz-info .count{
    flex: 1;
    text-align: right;
}
.quiz-app .quiz-area{
    background-color: var(--LightBackground);
    padding: 20px;
    margin-top: 20px;
    border-radius: 2px;
}

.quiz-app .quiz-area h2{
    margin: 0;
    font-size: 1.2em;
}
.quiz-app .answer-area{
    background-color: var(--LightBackground);
    padding: 20px   ;
}
.quiz-app .answer-area .answer{
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: .3rem;
}
.quiz-app .answer-area .answer:not(:last-child){
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0;
}

.quiz-app .answer-area .answer input[type="Radio"]:checked + label{
    color: #0075ff;
}

.quiz-app .answer-area .answer label{
    cursor: pointer;
    color: #333;
    font-size: 14px;
    margin-left: 5px;
    position: relative;
    top: -1px;
}

.quiz-app .submit-button{
    display: block;
    width: 250px;
    padding: 10px 15px;
    background-color: white;
    color: #0075ff;
    border: 1px solid #0075ff;
    /* font-weight: ; */
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    letter-spacing: 0.8px;
    margin: 20px auto;

}
/* Hover button  */
.quiz-app .submit-button:hover{
    background-color: #0075ff;
    color: white;
}

.quiz-app .submit-button:focus{
    outline: none;
}

.quiz-app .bullets {
    display: flex;
    background-color: var(--LightBackground);
    padding: 20px;
    border-top: 1px solid #dfdfdf;
    padding: 20px;
}

.quiz-app .bullets .span {
    flex: 1;
    display: flex;
}

.quiz-app .bullets .span span{
    width: 20px;
    height: 20px;
    background-color: #ddd;
    margin-right: 5px;
    border-radius: 50%;
}


.quiz-app .bullets .span span.on{
    background-color: #0075ff;
}

.quiz-app .result span{
    font-weight: bold;
}

.quiz-app .result span.bad{
    color: red;
}
.quiz-app .result span.perfect{
    color: green;   
}